.routes a {
    text-decoration: none;
    color: #6d89fc;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.routes a:hover {
    font-size: 1.05em;
    text-decoration: none;
    color: #1849ff;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}