.main {
    position: relative;
    height: 70px;
    margin: 10px;
}

.input {
    padding: 0 40px 0 10px;
    font-size: 20px;
    display: block;
    min-width: 140px;
    height: 48px;
    border: 5px;
    border-bottom: 2px solid #D9D9D9;
    transition: border-bottom 0.5s ease-in-out;
    outline: none;
    margin: 0 auto;
}
.input:focus {
    border: 1px;
    border-bottom: 2px solid #4786ff;
    outline: none;
    transition: border-bottom 0.5s ease-in-out;
}
.errorInput {
    border: 1px;
    border-bottom: 2px solid #ff4747;
    outline: none;
    transition: border-bottom 0.5s ease-in-out;
}
.error {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    color: #ff0000;
}
