.button {
  touch-action: manipulation;
  cursor: pointer;
  /*user-select: none;*/
  -webkit-user-select: none;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: auto;
  min-height: 2rem;
  margin: 4px;
  padding: 5px 20px;

  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;
  text-decoration: none;
  vertical-align: baseline;

  background-color: #8095ff;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;

  transition: all 250ms;
}

.red {
  touch-action: manipulation;
  cursor: pointer;
  /*user-select: none;*/
  -webkit-user-select: none;

  position: relative;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: auto;
  min-height: 2rem;
  margin: 5px;
  padding: 5px 20px;

  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  color: #fff;
  text-decoration: none;
  vertical-align: baseline;

  background-color: #ff5353;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;

  transition: all 250ms;
}

.button:hover,
.button:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
  transform: translateY(-1px);
}
.red:hover,
.red:focus {
  background-color: #ff2d2d;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.red:hover {
  transform: translateY(-1px);
}

.red:active {
  transform: translateY(0);

  background-color: #ff1a1a;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
}
.button:disabled {
  /*box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;*/
  transform: translateY(0);

  background-color: #a3c4ff;
}
