.mainBlock {
    /*background: #3D3D3D;*/
    background: #FFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    max-width: 1280px;
    margin: auto;
    padding-bottom: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.userChooseButton {
    display: flex;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    justify-content: center;
    line-height: 17px;
    margin: 20px 10px 45px;
    text-align: center;
    width: 196px;
    cursor: pointer;
}

.searchHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.reset_filter{
    margin: auto 20px;
    padding: 5px;
}

.reset_filter:hover{
    cursor: pointer;
    transition: transform .5s;
    transform: scale(1.1);
}

.rangeBlock h3 {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    color: #2D2E46;
}

.active {
    align-items: center;
    background: #366EFF;
    border-radius: 0 2px 2px 0;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    width: 50%;
}

.active:hover{
    transition: transform .5s;
    transform: scale(1.1);
}

.inactive {
    align-items: center;
    background: #FFFFFF;
    border-radius: 2px;
    color: #2D2E46;
    display: flex;
    justify-content: center;
    width: 50%;
}

.inactive:hover{
    transition: transform .5s;
    transform: scale(1.1);
}

.packList {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.spinnerSize {
    width: 50px;
    height: 50px;
}
