.nav {
  padding: 20px;

  background: #afcde7;
}

a {
  padding: 20px;

  text-decoration: none;
}

.inactiveLink {
  color: #0f73ab;
  text-decoration: none;
}

.activeLink {
  color: #000000;
  text-decoration: none;
}
