.nav {
    background: #AFCDE7;
    padding: 5px;
    height: 30px;
}


a {
    padding: 20px;
    text-decoration: none;
}

.inactiveLink {
    text-decoration: none;
    color: #0f73ab;
}

.activeLink {
    text-decoration: none;
    color: #000000;
}


.header {
    display: flex;
    height: 70px;
    width: 1280px;
    background-color: #84e7d5;
    align-items: center;
    margin: auto;
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    justify-content: space-between;
}
.header a {
    text-decoration: none;
    color: #6d89fc;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.header a:hover {
    font-size: 1.05em;
    text-decoration: none;
    color: #1849ff;
    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
}
.logo {
    margin-left: 136px;
    cursor: pointer;
}
.profileBlock {
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 136px;
    justify-content: space-between;
    cursor: pointer;
}
.profileBlock .profilePhoto {
    margin-left: 10px;
    width: 48px;
    border-radius: 50%;
}
.profileBlock p {
    font-size: 28px;
}