.select {
  cursor: pointer;

  width: 100px;
  padding: 5px;
  padding-right: 30px;

  color: #414241;

  background-image: url('https://sitehere.ru/examples/14.01.2015/images/select-arrow-open.png');
  background-repeat: no-repeat, repeat;
  background-position: right;
  background-size: 20%;
  border: 2px inset rgb(0, 110, 255);
  border-radius: 8px;

  appearance: none;
}
.select:focus {
  border: #ff5959 solid 2px;
  outline: none;
}
.option {
  color: #6f8cff;

  background: #b4ccff;
}

.option:checked {
  color: #b4ccff;

  background: #6f8cff;
}
