.mainBlock {
    display: flex;
    width: 1280px;
    height: 800px;
    margin: auto;
}

.personalInfo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 413px;
    height: 390px;
    background: #FFFFFF;
    /*box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    border-radius: 2px;
    margin: 90px auto 0;
}

.profilePhotoBlock {
    position: relative;
}
.profilePhoto {
    width: 128px;
    border-radius: 50%;
}
.photoIcon {
    opacity: 30%;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}
.photoIcon:hover {
    opacity: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}
.input {
    width: 100px;
    text-align: center;
}

.profileName {
    display: flex;
    margin-left: 30px;
    align-items: center;
    min-width: 120px;
}
.profileName img{
    margin-left: 4px;
    margin-top: 6px;
    height: 24px;
    width: 24px;
}
.email {
    /*font-family: 'Montserrat';*/
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;;
}
