
.smallContainer {
    background: #F9F9FE;
    border-radius: 8px;
    margin: 50px auto;
    padding: 25px 33px 35px;
    position: relative;
    text-align: center;
    width: 413px;
    height: 600px;
}

.email {
    margin: 10px auto;
}

.superInputText {
    display: flex;
    margin: 0 auto;
    min-width: 200px;
    text-align: center;
}

.superCheckbox {
    display: flex;
    justify-content: center;
}

.password {
    margin: 20px auto;
}

.forgot_password {
    padding: 50px 0 10px 200px;
}

.submit_button {
    width: 266px;
    margin: 100px auto 30px;
}

.sign_up {
    font-weight: bold;
    margin: 20px auto;
}
