
.tableMainBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
    color: #595959;
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
}

.tableMainBlock th, td {
    padding: 5px 10px;
    vertical-align: middle;
}

table {
    border-collapse: separate;
    width: 100%;
}

.theadStyle .sortBlock {
    cursor: pointer;
}

.trStyle {
    border-radius: 10px;
    color: #1c1c1c;
    background-color: #847bc4;
    font-weight: 700;
}

.buttonBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.buttonBlock button {
    padding: 5px 12px;
    margin: 5px 5px;
}

.tbodyStyle {

}

tr:nth-child(2n) {
    background: #e8edff;
}

.tbodyStyle td {
    max-width: 190px;
}

.nameStyle:hover {
    transition: transform .5s;
    transform: scale(1.1);
}

.nameStyle a {
    color: #2D2E46;
}

.nameStyle a:hover {
    color: #0241b7;
}

.paginator {
    display: flex;
    justify-content: center;
}
