
.button {
    align-items: center;
    background-clip: padding-box;
    background-color: #366EFF;
    border: 1px solid transparent;
    border-radius: 1.1rem;
    /*box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;*/
    box-sizing: border-box;
    box-shadow: 0 2px 10px rgba(14, 14, 14, 0.25), inset 0 1px 0 rgba(114, 114, 114, 0.3);
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 4px;
    height: 36px;
    padding: 5px 20px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    /*user-select: none;*/
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.red {
    align-items: center;
    background-clip: padding-box;
    background-color: #ff0000;
    border: 1px solid transparent;
    border-radius: 1.1rem;
    /*box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;*/
    box-shadow: 0 2px 10px rgba(14, 14, 14, 0.25), inset 0 1px 0 rgba(114, 114, 114, 0.3);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 5px;
    height: 36px;
    padding: 5px 20px;
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    /*user-select: none;*/
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.button:hover,
.button:focus {
    background-color: #ff6400;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button:hover {
    transform: translateY(-1px);
}
.red:hover,
.red:focus {
    background-color: #ff6700;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.red:hover {
    transform: translateY(-1px);
}

.red:active {
    background-color: #ff6800;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
.button:disabled {
    background-color: #a3c4ff;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}