.radio {
  width: 15px;
  height: 15px;

  border: 2px solid #fb8332;
  border-radius: 50%;

  appearance: none;
}

.radio:hover {
  border: 2px solid #fbd332;
}

.radio:checked {
  background: #335eff;
}
.radio:focus {
  border: 2px solid #fb8332;
}
