.paginationContainer {
    display: flex;
    margin: auto;
}

.paginationBlock {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.paginationItem {
    background-color: #e3e3e3;
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 32px;
    margin: auto 4px;
    text-align: center;
    border-radius: 16px;
    min-width: 32px;
    justify-content: center;
    transition: background-color 0.5s ease-in-out;
}

.dots:hover {
    background-color: transparent;
    cursor: default;
    transition: background-color 0.2s ease-in-out;
}

.paginationItem:hover {
    background-color: rgb(212, 214, 255);
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;

}

.selected {
    background-color: #ff6400;
    display: flex;
    align-items: center;
    padding: 0 12px;
    height: 32px;
    margin: auto 4px;
    text-align: center;
    border-radius: 16px;
    justify-content: center;
    min-width: 32px;
    transition: background-color 0.2s ease-in-out;
}

.arrow::before {
    position: relative;
    content: '';
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    border-right: 0.12em solid rgba(0, 0, 0, 0.87);
    border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}

.left {
    transform: rotate(-135deg) translate(-50%);
}

.right {
    transform: rotate(45deg);
}

.disabled {
    display: none;
}

.arrow::before {
    border-right: 0.12em solid rgba(0, 0, 0, 0.43);
    border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}

.disabled:hover {
    background-color: transparent;
    cursor: default;
}
